/* NavBar.css */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #333;
  color: white;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: rgb(7, 112, 153);
  font-size: 24pt;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}


.navbar-button:hover {
  color: rgb(55, 125, 153);

  text-shadow:
    0 0 20px #0fd6dd,
    0 0 40px #0fd6dd,
    0 0 60px #0fd6dd;
}

.navbar-button {
 
  border: 1px solid #333;
  width: 12.5%;
  height: 100%;
  background-color: black;

}

.navbar button {
  border: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(7, 112, 153);
  font-size: 24pt;
  width: 100%;
  height: 100%; 
  background-color: transparent;

}
