node_modules/

LargeProjects/LEDStrip/ESP/temp/
EasyEDA/offline_projects_backup/LEDStripController/20230212_152914/LEDStripController.json
router.cpp
.theia/

BitmapsCollection/
__pycache__/
LargeProjects/EPaper/Python/ConvertedImages/
LargeProjects/EPaper/Python/ImageBackup/
LargeProjects/EPaper/Python/NewImages/
LargeProjects/EPaper/Python/Test/
